name: CI

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v1
    - name: Install Sprout
      run: git clone https://github.com/bolero-MURAKAMI/Sprout.git
    - name: Run tests
      env:
        SPROUT_PATH: ./Sprout/
        SCENN_PATH: ./
      run: cd tests && ./run_tests.sh all
